div.a {
    text-align: center;
    text-decoration-color: #0ec23b;
}
a:link,
a:visited {
    background-color: Black;
    color: #0ec23b;
    padding: 0.0001px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: #0ec23b;
    color: black;
}
body{
    color: #0ec23b;
}
body {
    background-color: black;
}
#myCanvas {
    border-style: solid;
    background-color: white;
}