div.a {
    text-align: center;
    text-decoration-color: rgb(118, 214, 231);
}
a:link,
a:visited {
    background-color: Black;
    color: rgb(118, 214, 231);
    padding: 0.0001px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: rgb(118, 214, 231);
    color: black;
}
h1,
p,
a {
    color: rgb(118, 214, 231);
}
body {
    background-color: black;
}